/**
 * All components
 */
*, :after, :before{
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/**
 * HTML & BODY
 */
 html{
	@extend %noselect;

	background: $html-bg;
	color: $text-color;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	// line-height: 1.42857143
	line-height: 1.6;
	// font-family: "Roboto", "Helvetica", "Arial", sans-serif
	font-family: $font-familly;
	font-size: $font-size-mobile;
	font-weight: 400;
	
	@media(min-width: 600px){
		font-size: $font-size;
	}
 }
html, body{
	margin: 0;
}

