/***********
 * View port
 */
.#{$prefix}{
	&vh100{
		height: 100vh;
		// Fix chrome mobile overflow
		height: var(--vh, 100vh);
	}
	&vw100{
		width: 100vw
	}
}

/***********
 * Overflow
 */
.#{$prefix}{
	&oa{overflow: auto}
	&ox{
		overflow: auto;
		overflow-y: hidden;
	}
	&oy{
		overflow: auto;
		overflow-x: hidden;
	}
	&oh{overflow: hidden;}

	// Overflow auto on mobile view
	&oy-xs{
		overflow: auto;
		overflow-x: hidden;
		@media(min-width: 600px){
			overflow: initial
		}
	}
}