/***********
 * DISPLAY
 */
%hidden{
	display: none!important
}

.#{$prefix}{
	&inline{ display: inline}
	&inline-block, &ib{ display: inline-block}
	&block, &bk{ display: block}

	// Hidden
	&h{display:  none;}
	&hidden{ @extend %hidden; }

	// Hide on devices
	@each $s, $sz in (xs: $sm - 1, sm: $md - 1, md: $lg - 1, lg: $xl - 1){
		@media(max-width: $sz){
			.h-#{$s}{
				display: none!important
			}
		}
	}

	@each $s, $sz in (xs: $sm, sm: $md, md: $lg, lg: $xl){
		@media(min-width: $sz){
			.v-#{$s}{
				display: none!important
			}
		}
	}

}




