.#{$prefix}t{
	// Alignement
	&-left	{text-align: left}
	&-right	{text-align: right}
	&-center{text-align: center}
	&-justify {text-align: justify}
	&-start {text-align: start}
	&-end {text-align: end}
	
	//* vertical align
	&-top{ vertical-align: top }
	&-sub { vertical-align: sub}
	&-super{ vertical-align: super}
	&-baseline{ vertical-align: baseline }
	&-middle { vertical-align: middle }
	&-bottom{ vertical-align: bottom }
	&-text-top { vertical-align: text-top }
	&-text-bottom{ vertical-align: text-bottom }
}

.#{$prefix}{
	//* weight
	&b, &bold{font-weight: bold}
	&bolder{font-weight: 800}
	&i, &italic{font-style: italic}
	&oblique{font-style: oblique}
	
	//* transform
	&capitalize{text-transform: capitalize}
	&lowercase{text-transform: lowercase}	
	&uppercase{text-transform: uppercase}
	&capitalize-first{
		&:first-letter, :first-letter{
			text-transform: uppercase
		}
	}

	&small-caps{font-variant: small-caps}
	&all-small-caps{font-variant: all-small-caps}
	&unicase{font-variant: unicase}
	
	// //* familly
	// &cursive{font-family: cursive}
	// &fantasy{font-family: fantasy}
	// &monospace{font-family: monospace}
	
	// //* decoration
	// &overline{text-decoration: overline}
	// &overline-wavy{text-decoration: overline wavy}
	// &overline-dashed{text-decoration: overline dashed}
	// &overline-dotted{text-decoration: overline dotted}
	// &overline-double{text-decoration: overline double}

	&u{text-decoration: underline}
	&u-wavy{text-decoration: underline wavy}
	// &underline-dashed{text-decoration: underline dashed}
	// &underline-dotted{text-decoration: underline dotted}
	// &underline-double{text-decoration: underline double}

	&s{text-decoration: line-through}
	// .line-through-wavy
	// 	text-decoration: line-through wavy
	// .line-through-dashed
	// 	text-decoration: line-through dashed
	// .line-through-dotted
	// 	text-decoration: line-through dotted
	// .line-through-double
	// 	text-decoration: line-through double

	//* wrap
	&nowrap{white-space: nowrap}
	&wrap{white-space: normal}
	
	//* truncate text and show ellipsis
	&truncate{
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	&pre{white-space: pre}
	// .pre-line
	// 	white-space: pre-line
	// .pre-wrap
	// 	white-space: pre-wrap
	// .word-break
	// 	word-break: break-all
	
	//* Indent
	&indent{text-indent: 2em}
	
}